ul{
	margin:0;
	padding:0;
}

ul.container{
	/* The topmost UL */
	width:180px;
	margin:0px 0px 0px -60px;	
}

li{
	list-style:none;
	text-align:left;
}

li.menu{
	/* The main list elements */
	
	width:100%;
}

li.button a{
	/* The section titles */
	display:block;
	font-family:BPreplay,Arial,Helvetica,sans-serif;
	font-size:21px;
	height:34px;
	overflow:hidden;
	padding:0px 20px 0;
	position:relative;
	width:200px;
}

li.button a:hover{
	/* Removing the inherited underline from the titles */
	text-decoration:none;
}

li.button a span{
	/* This span acts as the right part of the section's background */
	height:44px;
	position:absolute;
	right:0;
	top:0;
	width:4px;
	display:block;
}

/* Setting up different styles for each section color */

li.button a.bg{background: url("../../images/test/leftbg.jpg") no-repeat; color:#074384;}
li.button a.bg span{ background: url("../../images/test/leftbg.jpg") no-repeat;}

/* The hover effects */

li.button a:hover{ background-position:bottom left;}
li.button a:hover span{ background-position:bottom right;}

.dropdown{
	/* The expandable lists */
	display:none;
	padding-top:5px;
	width:100%;
}

.dropdown li{
	/* Each element in the expandable list */
	
	
	color:#CCCCCC;
	margin:10px 0;
	padding:4px 18px;
}


/* The styles below are only necessary for the demo page */

h1{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:36px;
	font-weight:normal;
	margin-bottom:15px;
}

h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-right:140px;
	right:0;
	text-align:right;
	text-transform:uppercase;
	top:15px;
}

.clear{
	clear:both;
}

#main{
	/* The main container */
	text-align:center;
	width:1000px;
	background-image:url(../../images/chattel/BK.png)
	position:relative;
}

a, a:visited {
	/*color:#0196e3;
	text-decoration:none;
	outline:none;*/
}

a:hover{
	text-decoration:underline;
}

p{
	/* The tut info on the bottom of the page */
	padding:10px;
	text-align:center;
}
