#content_div_big{
	width:1000px;
	margin:auto;}
#content_div_big_head{}
#content_div_big_head_top{
	height:74px;}
#content_div_big_head_red{
	background-image:url(../../images/security/shutiao.jpg);
	background-repeat:no-repeat;
	height:16px;}
#content_div_big_head_top_left{
	float:left;}
#content_div_big_head_top_right{
	float:right;
	margin-top:30px;}
#content_div_big_body{
	width:1000px;
	background:url(../../images/security/banner.jpg) no-repeat left center;
	height:839px;}
#content_div_big_body_login{
	height: 263px;
	width: 241px;
	float: left;
	display: inline;
	margin-left: 280px;
	margin-top: 103px}
.content_div_big_body_login_css{
	height:20px;
	margin-top:44px;}
.content_div_big_body_login_css_text{
	height:20px;
	float:left;
	font-size:14px;
	font-family:"Microsoft YaHei";
	padding-left:30px;
	}
.content_div_big_body_login_css_text input { padding-left:5px;}
.mt3{ margin-top:-3px;}
.mt4{ margin-top:-4px;}
.mt6{ margin-top:-6px;}
.content_div_big_body_login_css_text_input_text{
	width:140px;
	border:0px;}
.content_div_big_body_login_sub{
		 height:45px;
	     width:166px;
      margin-top: 30px;
	}
.content_div_big_body_login_sub a{
	line-height: 20px;
	display: block;
	width: 134px;
	height: 38px;
    background:url(../../images/security/button.png)  no-repeat 0 0;
    text-decoration: NONE;
    padding-top: 13px;
    font-family: "Microsoft YaHei";
    color:black;
    margin-left: 20px;
	}
.content_div_big_body_login_sub a:hover{
	line-height: 20px;
	display: block;
	width: 135px;
	height: 38px;
    background:url(../../images/security/button1.png)  no-repeat 0 0;
    text-decoration: NONE;
    padding-top:13px;
    font-family:"Microsoft YaHei";
    color:black;
    margin-left:20px;
	}
#content_div_big_body_login_sub_text{
	font-size:18px;
	font-family:"Microsoft YaHei";
	font-weight:bold;
	margin-top:3px;
	margin-left:5px;}
#content_div_big_body_two{
	background-image:url(../../images/security/des.png);
	background-repeat:no-repeat;
	height:268px;}
#content_div_big_body_two_text{
	height:180px;
	width:920px;
	float:left;
	margin-left:40px;
	margin-top:30px;
	font-size:16px;
	line-height:24px;
	font-family:"Song style";
	font-weight:bold;
	color:#1C1C1C;
	word-wrap:break-word;
	text-align:left;}
#content_div_big_body_three{
	background-image:url(../../images/security/dibanbai.png);
	background-repeat:no-repeat;
	height: 450px;}
#content_div_big_body_three_left{
	float:left;
	height:350px;
	width:400px;
	margin-top:30px;
	_margin-top:65px;
	margin-left:30px;
	font-size:16px;
	font-family:"Microsoft YaHei";
	color:#333;}
#content_div_big_body_three_right{
	float:right;
	height:350px;
	width:310px;
	margin-top:40px;
	margin-right:8px;}
#content_div_big_body_three_right table tr td{
	border-bottom:#000 1px dashed;
	height:24px;
	font-size:14px;
	font-family:"Microsoft YaHei";
	font-weight:bold;
	}
#content_div_big_body_four{
	background-image:url(../../images/security/footer_bg.jpg);
	background-repeat:no-repeat;
	height:119px;}
#content_div_big_body_four_foot{
	height:70px;
	width:600px;
	float:left;
	margin-top:25px;
	margin-left:200px;}
.bada{
width: 263px;
height: 156px;
border: 2px;
float: left;
margin-top: 240px;
/* background-color: red; */
margin-left: 122px;
}

.liuxiang-ul{
	background-color:#cccccc;
	width:1000px;
	height:80px;
/* 	margin:0; */
    padding:0;
    margin-top: 9px;
}

.liuxiang{
width: 110px;
height: 110px;
border: 2px;
margin-top: -266px;
margin-left: -800px;
}
.liuxiang1{
width: 110px;
height: 110px;
border: 2px;
margin-top: -106px;
margin-left: -478px;
}

.liuxiang2{
width: 110px;
height: 110px;
border: 2px;
margin-top: -110px;
margin-left: -157px
}

.liuxiang3{
width: 110px;
height: 110px;
border: 2px;
margin-top: -110px;
margin-left: 162px;
}

.liuxiang4{
width: 110px;
height: 110px;
border: 2px;
margin-top: -110px;
margin-left: 492px;
}
.liuxiang5{
width: 110px;
height: 110px;
border: 2px;
margin-top: -110px;
margin-left: 812px;
}
.cc{
	padding-top: 320px;
    margin-top: -320px;
	
}
.badabadafengxian{
width:1000px;
height:1190px;
background-image:url(../../images/chattel/badafx.jpg);

}

.guanyu{
width:1000px;
height:2064px;
background-image:url(../../images/chattel/guanyu.jpg);
}

.gongyue{
width:1000px;
height:297px;
background-image:url(../../images/chattel/gongyue.jpg);
}
.cctv2{
width:125px;
height:61px;
background-image:url(../../images/chattel/cctv2.png);
}
.cctvshipin{
width:581px;
height:333px;
background-image:url(../../images/chattel/cctvshipin.png);
}
.meitigongyue{
width:1000px;
height:1805px;
background-image:url(../../images/chattel/meitigongyue.jpg);
}

.huiyuan{
width:1000px;
height:298px;
background-image:url(../../images/chattel/huiyuan.jpg);
}
.exception{
	width:1000px;
	height:524px;
	background-image:url(../../images/chattel/exception.png);
	
}

.goback{
	width: 130px;
	height: 36px;
	margin-left: -366px;
	margin-top: -100px;
}
.goback a{
	font-family: "Microsoft YaHei";
	color: teal;
	text-decoration: blink;
	background-image: url(../../images/chattel/gobackbutton.png);
	padding-left: 45px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-left: -12px;
}

.validationcode{
	cursor: pointer;
	 margin-left:5px;
	 margin-top:-16px;
	 width:65;
	 height:20; 
}