@charset "utf-8";
body {font-family:"Microsoft YaHei";}
.content_head{
	background-image:url(../../images/chattel/4000.png);
	height:323px;
	width:910px;
	padding:0px;
	margin:auto;
	margin-top: 12px;}
#content_head_top{
	height:65px;
	width:890px;
	margin:auto;
	text-align:center;}
.content_head_top_text{
	display:inline-block;
	font-family:"Microsoft YaHei";
	font-weight:bold;
	font-size:19px;
	color:#FA0B0B;
	margin-top:25px;
}
#content_head_top_item{
	width:885px;
	margin:auto;
	margin:0px;
	margin-top:17px;
	padding:0px;}
#content_head_top_item table tr{
	}
#content_head_top_item table tr td{
	height:35px;
	font-size:15px;
	font-family:"Microsoft YaHei";
	font-weight:500;
	}
#content_head_top_item table tr td span{
	font-size:15px;
	color:#1C1C1C;
	font-weight:100;}
#content_head_top_item table tr td input{
	width:245px; height:21px; border:1px #ccc solid; line-height:22px; padding:2px 0}
#content_head_top_item table tr td select{
	width:247px; height:27px;  border:1px #ccc solid; }
td{
	height:39px;}
#content_head_top_btn{
	width:134px;
	margin:auto;
	margin-top:24px;
	cursor:pointer;
	
	}
#content_body_item{
		width: 904px;
		height: auto;
		margin: auto;
	}
.content_div_d4_table1{
	width:250px;
	height:220px;
	display:inline-block;
	font-family:"Microsoft YaHei";
	font-size:14px;
	margin-top:40px;
	margin-left:35px;
			}	
.content_div_d4_table2{	
	width:300px;
	height:220px;
	display:inline-block;
	font-family:"Microsoft YaHei";
	font-size:14px;
	margin-top:40px;
	margin-left:15px;	
		}
.content_div_d4_table3{
	width:250px;
	height:220px;
	display:inline-block;
	font-family:"Microsoft YaHei";
	font-size:14px;
	margin-top:20px;
	margin-left:5px;
	}
.td_border_left{
/* 	border-left:#CCC dashed 1px; */
	}
.content_body_item_table{ height:5px;
 margin-top: -13px;
 background: url(../../images/chattel/tbg1.png) repeat-y;
 background-size:auto;
	}
.tablefoot {}
.content_body_item_table tr td{
	height: 20px;
	font-size: 15px;
	padding-top: 14px;
	}