@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {font-family: "Microsoft YaHei";font-size: 15px;margin: 0;padding: 0;font-weight:500;}
table {border-collapse: collapse;border-spacing: 0}
img {border: 0;}
ol, ul {list-style: none}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal}
a {text-decoration: none}
input:focus{ outline:none;}
.clearfix:before, .clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
.clr {clear: both}
ul:after{content:''; display:block; clear:both; visibility:hidden; height:0;}
ul{zoom:1;}
/*以上为防止兼容性问题及其他全体声明*/

#content_div{
    width:995px;
	}

#content_div_d2{
    background:url(../../images/chattel/dongchandj.png) no-repeat left center;
	height:77px;
	width:894px;
	margin:0px auto;
	margin-top: 12px;
	}

#content_div_d1{
	background:url(../../images/chattel/dengji_10.png) no-repeat left center;
	height:35px;
	width:892px;
	margin:0px auto;
	margin-left: 53px;}

#content_div_d1_title{
    height:35px;
    width:220px;
	line-height:35px; font-size:14px; cursor:pointer;
    margin:0px auto;
    background:url(../../images/chattel/djmore_15.png) no-repeat right center;
}

.content_div_d1_title_text{
	font-family:"Microsoft YaHei";
	font-size:15px;
	height:32px;
	line-height:32px;
	letter-spacing:1px;
	margin-top:4px;
	float:left;	
	width:155px;
	text-align:center;
	}	
.djbtn { width:800px; margin:0px auto;}

#content_div_d1_title_img{
     float:right;
	 margin-top:7px;
	 margin-right:25px;
	 background:url(../../images/chattel/djbtn_19.png) no-repeat left center;}

.content_div_d2_img{
     background:url(../../images/chattel/djbtn_19.png) no-repeat left center;
	 float:left;
	 height:41px;
	 width:155px;
	 font-size:14px;
	 line-height:41px;
	  text-align:center;
	 margin-left:195px;
	 margin-top:16px;
	 }
	 .content_div_d2_img2{
     background:url(../../images/chattel/djbtn_19.png) no-repeat left center;
	 float:left;
	 height:41px;
	 width:155px;
	 font-size:14px;
	 line-height:41px;
	  text-align:center;
	 margin-left:85px;
	 margin-top:16px;
	 }
	 
.content_div_tijiao{
	padding-top:10px;
	/*padding-right:10px;*/
}

.content_div_tijiao2{
	 height:30px;
	 width:80px;
}
	 
.content_div_d2_img1{
     background:url(../../images/chattel/registsubmit.png) no-repeat left center;
     font-family:"Microsoft YaHei";
	 font-size:16px;
	 height:43px;
	 width:94px;
	 }

.content_div_d4_table{
	font-family:"Microsoft YaHei";
			}

.content_div_d4_table tr{
	height:40px;
}

#content_div_d3{
	clear:both;
	width:900px;
	font-size:14px;
	margin:0px 55px 0px 55px;
	}

.table_div{
	 clear:both;
     background:url(../../images/chattel/publicitybg.png);
	 margin-left: 44px;
	width: 906px;
	 height:250px;
	 margin-top: 3px;
	 }

.content_table{
      font-family:"Microsoft YaHei";
	  font-size:14px;
	  font-weight:bold;
	  margin-top:20px;
	  margin-left:15px;
	  margin-right:5px;
	  float:left;
	  width:890px;
	  height:220px;}
.content_table_tr{
       width:160px;
       /*border-right:dashed #A9A9A9 1.8px;*/
}
.anniu_div{
     background:url(../../images/chattel/4.png) no-repeat left center;
	 margin-left: 45px;
     width: 895px;
	 height:47px;
	 }
.content_table_button{
      background-image:url(../../images/chattel/registsubmit.png);
	  height:45px;
	  width:50px;
	  margin-left:150px;
	  margin-top:10px;}

.content_div_d4_image1{
	cursor:pointer;
	background-image:url(../../images/chattel/registsubmit.png);
	height:50px;
	width:94px;
	float:left;
	margin-left:310px;
	background-repeat:no-repeat;
	margin-top:5px;
			}
.content_div_d4_image2{
	
	cursor:pointer;
	background-image:url(../../images/chattel/registsubmit.png);
	height:50px;
	width:94px;
	float:left;
	margin-left:95px;
	background-repeat:no-repeat;
	margin-top:5px;
			}
.content_div_d4_image3{
	
	cursor:pointer;
	background-image:url(../../images/chattel/registsubmit.png);
	height:50px;
	width:94px;
	float:left;
	margin-left:95px;
	background-repeat:no-repeat;
	margin-top:5px;
			}
.content_div_d4_text{
	display:inline-block;
	font-family:"Microsoft YaHei";
	font-size:16px;
	margin-top:5px;
	margin-left:30px;}
	
#pagediv{
	float:left;
	margin-left:270px;
}
#default{
	height:1px;
	clear:both;
}

.displaynone{
	display:none;}                                                                                                        
.displayblock{
	display:block;}

.selecty{
	height:28px;
	width:204px;

}

#finanName{
	height:25px;
	width:200px;
}

.isdelete{
	color:#ccc;
}

