@charset "utf-8";
/******************************中间right部分******************************/
.create_div1{
	   background-color:#FFFFFF;
	   width:830px;
	   float:left;
	   height:305px;	  
	   margin-left:10px;
	   margin-top:15px;
	   border:1px solid #C0C0C0;
	}
.main_right_div{
	width:650px;
	height:220px;
	background-color:#F9F8F8;
	margin:65px;
	padding:20px;
     float:left;
    margin-top:10px;
	border:#e8e8e8 solid 1px;
	}	
.main_right_div_form{
	font-family:"Microsoft YaHei";
	font-size:16px;
	text-align:center;

		}
.main_right_div_form_title{
	width:100%;
	height:35px;
	font-family:"Microsoft YaHei";
	font-size:16px;
	font-weight: bold;
	text-align:center;}
.main_right_div_form_select{
	font-size:16px;
	margin-left:3px;
	text-align:center;
	}
.main_right_div_form_btn{
	font-size:18px;
	margin-top:20px;
	margin-right:20px;
	margin-left:10px} 
 
.main_right_div1{
	font-family:"Microsoft YaHei";
	font-size:14px;
	float:left;
	margin-left:20px;
	margin-top:10px;} 
.upadd { width:600px; height:35px; margin:5px 45px; float:left;}
.upadd li { font-size:14px; line-height:30px; float:left;}
.name { width:140px; text-align:right;}